Flask==0.12.2
Flask-RESTful==0.3.6
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
flask-cors==3.0.6
sqlalchemy==1.2.7
sqlalchemy-migrate==0.11.0
SQLAlchemy-Utils==0.32.16
flask-cors==3.0.6
flask-marshmallow==0.10.1
marshmallow-sqlalchemy==0.17.0
pymysql==0.9.3
flake8==3.4.1
pytest==5.1.2
flask_testing==0.7.1
sqlalchemy-seed==0.3.0
passlib==1.7.1
flask-jwt-extended==3.24.0
Flask-Migrate==2.5.2
google==2.0.2
google-cloud-storage==1.16.0
werkzeug==0.16.0
